body{
    background-color:lightblue;
    font-family:Arial;
}

.container{
	width: 70%;
	height: fit-content;
	background:#eff3f7;
	margin: 0 auto;
	font-size: 0;
	border-radius: 5px;
	overflow: hidden;
    display: flex;
}

.leftside{
    width: 25%;
    height: auto;
    background-color:#3b3e49;
}

.mainwindow{
    width: 100%;
    height: auto;
	font-size: 15px;
	
}

.mainwindowheader{
    vertical-align: top;
    height: 100px;
    padding: 30px 30px;
}

.searcharea{
    height: 100px;
    padding: 30px 30px;
}

.searcharea input{
    width: 100%;
	height:50px;
	background-color:#5e616a;
	border:none;
	border-radius:3px; 
	color:#fff;
    font-size: 15px;
}

.h2{
	font-size: 18px;
	margin-bottom: 5px;
    font-weight: bold;
}
.h3{
	font-size: 14px;
	font-weight: normal;
	color: #7e818a;
}

.contacts img{
    border-radius:100%;
	margin-left:20px;
	margin-right:8px;
}

.contacts ul{
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    height: auto;
    color: white;
}

.contacts li{
    padding:  10px 0;
}

.contacts li div{
	display:inline-block;
	vertical-align:top;
}

.contacts li:hover{
    background-color:#5e616a

}

.contacts li h2{
	font-size:14px;
	color:#fff;
	font-weight:normal;
	margin-bottom:5px;
}

.contacts li h3{
	font-size:12px;
	color:#7e818a;
	font-weight:normal;
}

.status{
	width:8px;
	height:8px;
	border-radius:50%;
	display:inline-block;
	margin-right:7px;
}

.green{
	background-color:#58b666;
}

.orange{
	background-color:#ff725d;
}

.blue{
	background-color:#6fbced;
	margin-right:0;
	margin-left:7px;
}

#chat{
	padding-left: 0;
	margin: 0;
	list-style-type: none;
	overflow-y: scroll;
	height: 700px;
	border-top: 2px solid #fff;
	border-bottom: 2px solid #fff;
}

#chat li{
	padding: 10px 30px;
}

#chat h2{
	display: inline-block;
	font-size: 15px;
	font-weight: normal;
}

#chat h3{
	color:#bbb;
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
	font-size: 13px;
	font-weight: normal;
}

#chat .entete{
	margin-bottom: 5px;
}

#chat .me{
	text-align: right;
}

#chat .message{
	padding: 20px;
	color: #fff;
	line-height: 25px;
	display: inline-block;
	text-align: left;
	border-radius: 5px;
}

#chat .you .message{
	background-color:#58b666;
}

#chat .me .message{
	background-color:#6fbced;
}

.mainwindow footer{
	height: 155px;
	padding: 20px 30px 10px 20px;
}

.mainwindow textarea{
	resize: none;
	border: none;
	display: flex;
	width: 100%;
	height: 80px;
	border-radius:3 px;
	font-size: 15px;
	margin-bottom: 13px;
}

.mainwindow footer textarea::placeholder{
	color:#ddd;
}

.mainwindow footer a{
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	color:#6fbced;
	vertical-align: top;
	padding: 10px;
}